.layout {
    height: 100vh;  /* Set Layout to full viewport height */
    display: flex;   /* Allow content to fill the height */
    flex-direction: column;
  }
  
  .content {
    flex: 1;          /* Take up remaining space in Layout */
    overflow: auto;
    height: fit-content;    /* Enable scrollbar if content overflows */
  }